.wrapper{
    display: flex;
    background-color: #c9c9c9;
    width: 500px;
    height: 200px;
    border: 1px solid black;
}
.imageWrapper{
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 20%;
}
.titleWrapper{
    border: 1px solid green;
    width: 50%;
}
.buttonsWrapper{
    border: 1px solid red;
}